body
    .modal-header.header-background
        button.close(type='button' ng-click='cancel()')
            .fa.fa-times
        h4.modal-title Administrator Settings
    .modal-body
        .well
            .row(style='margin-top:30px;')
                .col-lg-3.col-md-4.col-sm-4(style='border-right:1px solid #eeeeee;')
                .row.ng-cloak
                .col-lg-10.col-md-10.col-sm-10
                        .h4 Manage Users
                        .table-responsive
                            table.table.table-bordered.tablehover(style='background-color:#ffffff;')
                                thead
                                    tr(style='background-color:#e9e9e9; color:#000000;')
                                        th 	User Name
                                        th 	E-mail
                                        th 	Edit role
                                        th 	Modify
                                tbody
                                    tr(ng-repeat='user in users')
                                        td 	{{user.user_name}}
                                        td 	{{user.email}}
                                        td
                                            select.form-control(type="text" ng-options='o as o for o in masterData.userTypes' ng-model = 'user.type' ng-change="updateUserType(user,'{{user.type}}')")
                                        td
                                            button.btn.btn-mmwr(type='button' ng-click='removeUser(user)' data-toggle="tooltip" title="Remove User")
                                                i.fa.fa-trash-o(aria-hidden='true')
                                            |&nbsp; &nbsp;
                                            button.btn.btn-mmwr(type='button' ng-click='resetPassword(user)' data-toggle="tooltip" title="Reset to default password of Password1!") Password&nbsp;
                                                i.fa.fa-refresh(aria-hidden='true')
                        br