body
	.modal-header.header-background
		button.close(type='button' ng-click='cancel()')
			.fa.fa-times
		h4.modal-title Registration
	.modal-body
		.well
			form(name='registrationForm' ng-controller='loginCtrl' ng-submit="createLogin(registrationForm.$valid)" class="css-form" )
				.form-group
					label User Name:
						input.form-control.input-sm(type='text' ng-model='registrationData.user_name' required='')
				//.form-group
					label Last Name:
					input.form-control.input-lg(type='text' ng-model='lastName')
				.form-group
					label Business Email:
					input.form-control.input-sm(type='email' placeholder = 'Email' ng-model='registrationData.email' required='')
				.form-group
					label Password:
					input.form-control.input-sm(type='password' placeholder = 'Password' ng-model='registrationData.password' required='')
				.form-group
					label Years of Practice:
						|&nbsp;&nbsp;
						input(type='number' max = '{{masterData.yearsOfPractice.max}}' min = '{{masterData.yearsOfPractice.min}}' ng-model='registrationData.years_of_practice' )
						| &nbsp&nbsp; ({{masterData.yearsOfPractice.min}} - {{masterData.yearsOfPractice.max}})
				.form-group
					label Category:
						select.form-control.input-sm(type='text'  placeholder = 'Category'  ng-options='p as p for p in masterData.professions' ng-model='registrationData.profession')
					label
						| &nbsp;
						input.pull-right(type="checkbox" ng-model="registrationData.leaderboard_opt_category" ng-true-value="1" ng-false-value="0")
						| &nbsp;&nbsp
					label(style="font-size: 12px;") Include on Leaderboard
				.form-group
					label Area of Specialty:
						select.form-control.input-sm(type='text'  placeholder = 'Specialty'  ng-options='s as s for s in masterData.specialties' ng-model='registrationData.specialty')
				.form-group
					label How many hours a week do you spend providing direct patient care:
						br
						input(type="number" max = '{{masterData.patientCareHours.max}}' min = '{{masterData.patientCareHours.min}}' ng-model = 'registrationData.patient_hrs')
						| &nbsp&nbsp; ({{masterData.patientCareHours.min}} - {{masterData.patientCareHours.max}})
				.form-group
					label Training or experience in Public Health:
						br
						label
							input(type="radio" ng-model='registrationData.public_health_trained' ng-value="1")
							| &nbsp; Yes
						label &nbsp&nbsp;&nbsp&nbsp;
						label
							input(type="radio" ng-model='registrationData.public_health_trained' ng-value="0")
							| &nbsp;No
				//.form-group
					label(style="width:65%") Medical School Association:
						input.form-control.input-sm(style="width:70%" type="text" ng-model="registrationData.med_school"  placeholder="Search for a school"  typeahead-min-length='1' typeahead="medicalSchool.name for medicalSchool in matchMedSchool($viewValue)")
					//label
						|&nbsp;
						input.pull-right(type="checkbox" ng-model="registrationData.leaderboard_opt_school" ng-true-value="1" ng-false-value="0")
						|&nbsp;&nbsp
					//label(style="font-size: 12px;") Include on Leaderboard

					//select.form-control.input-lg(type='text' placeholder = 'Medical School associated with' typeahead='medicalSchool.id as medicalSchool.name for medicalSchool in masterData.medicalSchools' ng-model='registrationData.medSchoolId')
						option(value='-1') - Select Medical School  -
				button.btn.btn-primary.btn-lg(type='submit', style='width:100%;' ng-disabled="registrationForm.$invalid") Register
