body
	.modal-header
		button.close(type='button' ng-click='cancel()')
			.fa.fa-times
		h4.modal-title Feedback
	.modal-body
		p Coming Soon!
		textarea.feedback-area(ng-disabled = 'true')
	.modal-footer
		button.btn.btn-mmwr.pull-right(type='button' ng-click='ok()' ng-disabled = 'true') Submit
